{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blog Creation</h1>
<div class = "coolBlue">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
</div>
    <ul>

            <a href="{{ path('publication_index') }}"> << Back to the list</a>

    </ul>
{% endblock %}
